body{
    font-family: Arial;
    }

h1 {
    text-align: center;
    color: blue;
}

ul {
    background-color: #eee;
    width: 150px;
    padding: 10px;
}

button {
    margin-top: 20px;
    padding: 8px 15px;
    cursor: pointer;
}